.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.note{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    padding: 1rem;
    border-radius: 10px;
    background-color: grey;
}

.cards{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}

